div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid blue;

}

.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin-left: 200px;
    transform: perspective(350px) scaleZ(4) rotateY(30deg)
}
